<p>home works!</p>
<app-index></app-index>
<!--


<form [formGroup]="formRoom">
    <div class="input-group mb-3">
        <input type="text" formControlName="name" class="form-control" placeholder="Room Name" aria-label="Example text with button addon" aria-describedby="button-addon1" >
    </div>

    <div class="form-check form-switch">
        <input class="form-control" type="text" placeholder="Password" aria-label="Disabled input example" disabled>
        <input formControlName="password" class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckDefault">
        <label class="form-check-label" for="flexSwitchCheckDefault">Private Room</label>
    </div>
    <br>
    <label for="customRange2" class="form-label">Money</label>
    <input type="range" class="form-range" min="500" max="2500" step='500' id="customRange2">
    <br>
    <br>
    <button class="btn btn-outline-secondary" type="button" id="button-addon1" (click)="onSubmit()">Crear Sala</button>
</form>

<table>
    <tr *ngFor="let room of rooms">
        <td>
            Room: {{ room.name | json }}
        </td>
            Owner: {{ room.owner }}
        <td>
            player: {{ room.playersNum }}
        </td>
        <td>
            <button (click)="joinRoom(room)">Join</button>
        </td>
        <td>
            <button (click)="updateRoom(room)">update</button>
        </td>
    </tr>
</table>
-->