<h1 id="Unirse" class="verde">Unirse a sala</h1>
  <div class="table-responsive scroll">
    <table class="table  table-hover " id="tabla">
      <thead>
      <tr>
        <th>Sala</th>
        <th>Jugadores</th>
        <th>Dinero inicial</th>
        <th>Privacidad</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let room of rooms">
        <td>{{ room.name }}</td>
        <td>{{ room.playersNum }}</td>
        <td>{{ room.money }}</td>
        <div *ngIf="room.private==true; then thenBlock else elseBlock"></div>
          <ng-template #thenBlock><td>Privada</td></ng-template>
          <ng-template #elseBlock><td>Pública</td></ng-template>
        <td><button class="btn btn-green" (click)="joinRoom(room)">Join</button></td>
      </tr>
      </tbody>
    </table>
  </div>

